@import 'normalize/import-now';

$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
@import 'font-awesome';

$color: #121416;
$bgcolor: #FC98BE;
$red: #E84737;
$green: #38BC5D;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: $color;
  background-color: $bgcolor;
}

.text {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  cursor: default;
}

.overlay-bg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .05;
}

.overlay-glitch {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 100;
  opacity: .5;
}

.follow-widget {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;

  @media screen and (max-width: 736px) {
    top: 0;
    right: -30px;
    transform: scale(.6);
  }
}

.app {
  display: table;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;

  &-inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }

  .content {
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &-inner {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-spacing: 30px;
      position: relative;

      &-block {
        width: 100%;
        margin-top: 20px;
        text-align: center;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    img {
      width: 100%;
      border-radius: 2px;
    }
  }
}

.socials {
  display: table;
  position: fixed;
  right: 30px;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 2;

  @media screen and (max-width: 736px) {
    position: relative;
    right: 0;
    height: initial;
    margin: 15px auto 0;
  }

  &-inner {
    display: table-cell;
    vertical-align: middle;
  }

  a {
    display: block;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    margin-top: 10px;
    transition: color .2s ease-in;
    &:hover {
      color: $color;
    }

    @media screen and (max-width: 736px) {
      float: left;
      margin: 0 0 0 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
}
