@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Neuton:400,400i);
@import 'normalize/import-now';

$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
@import 'font-awesome';

$color: #000;
$bgcolor: #fff;
$red: #f63527;
$serif: 'Neuton';
$sans: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: $color;
  background-color: $bgcolor;
  font-family: $sans;
}

a {
  color: $color;
  &:hover {
    text-decoration: none;
  }
}

.overlay-glitch {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 100;
  opacity: .15;
}

.menu {
  position: fixed;
  top: 0;
  left: 20px;
  background: rgba(255, 255, 255, .8);
  padding-top: 10px;
  padding-bottom: 2px;
  @media screen and (max-width: 360px) {
    position: relative;
    padding: 10px 20px 2px;
    width: 100%;
    left: 0;
  }
  &-item {
    color: $color;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: color .2s ease;
    &.active,
    &:hover {
      color: $red;
    }
    &:before {
      content: '/';
      color: $color !important;
    }
    &:first-child {
      &:before {
        content: '';
      }
    }
  }
}

.wrapper {
  max-width: 640px;
  width: 90%;
  margin: 80px 20px;
  .question {
    margin-bottom: 50px;
    .ask {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .5px;
      margin: 0 auto 15px;
      line-height: 1.5;
    }
    .image-link {
      display: block;
    }
    .image,
    .youtube-embed {
      width: 100%;
      margin: 6px auto;
    }
    .answer {
      font-family: $serif;
      font-size: 18px;
      font-weight: 400;
      margin: 6px auto;
      line-height: 1.5;
    }
  }
}
